.hero-title{
    text-align: center;
    color: white;
}

header{
    background-color: rgb(31, 104, 31);
}

header nav ul li{
    display: inline-block;
    margin-inline: 15px;
}

header nav {
    text-align: center;
}

aside{
    float: right;
    width:20%;
    background-color: rgb(31, 104, 31);
}

main{
    width:75%;
    background-color: greenyellow;
}
.navButtons{
    background-color: rgb(31, 104, 31);
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

aside nav ul li{
    list-style: none;
}

.MenuButtons{
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

.facts{
    margin-left: 20px;
}

