body {
  margin: 0 20px;
  font-size: 1.2em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.4em;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

img {
  max-width: 100%;
}

@media screen and (min-width:600px){
  body{
    background-color: red;
    font-size: 1.3em;
    margin: 0;
  }

  p {
    margin: 0 40px;
  }

  div {
    flex-wrap: wrap;
    flex-direction: column;
    height: 700px;
    stre
  }
 
  img {
    /* max-width: 30%; */
  }
}