<style> 
    body{
        font-family: Montserrat;
        background-color: white;
        font-size: 20px;
        line-height: 2em;
    }
    h3{
        font-size: 3em;
        color:orange;
        text-align: center;
        text-decoration: underline;
    }   
    p{
        font-style:italic;
        font-size: 2em;
    }
    #item1{
        color:yellow;
    }
    #item2{
        color:red;
    }
    #item3{
        color:brown;
    }
</style>